In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [2]:
path = r'C:\Users\stefa\Documents\07-Instacart Basket Analysis'

In [3]:
path

'C:\\Users\\stefa\\Documents\\07-Instacart Basket Analysis'

In [4]:
ords_prods_merge_new = pd.read_pickle(os.path.join(path, '02 data' , 'prepared data' , 'ords_prods_merge_new.pkl'))

In [5]:
df = ords_prods_merge_new[:1000000]

In [6]:
df.shape

(1000000, 18)

In [7]:
df.head()

,product_id,product_name,aisle_id,department_id,prices,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,orders_time_of_day (24 hours),days_since_prior_order,add_to_cart_order,reordered,Check,busiest days,slowest days,busiest_period_of_day
0,1,Chocolate Sandwich Cookies,61,19,5.8,1987,3139998,138,28,6,11,3.0,5,0,both,Not one of the busiest days,Not one of the slowest days,Most orders
1,1,Chocolate Sandwich Cookies,61,19,5.8,1989,1977647,138,30,6,17,20.0,1,1,both,Not one of the busiest days,Not one of the slowest days,Average orders
2,1,Chocolate Sandwich Cookies,61,19,5.8,11433,389851,709,2,0,21,6.0,20,0,both,Busiest days,Not one of the slowest days,Average orders
3,1,Chocolate Sandwich Cookies,61,19,5.8,12198,652770,764,1,3,13,NaN,10,0,both,Not one of the busiest days,Slowest days,Most orders
4,1,Chocolate Sandwich Cookies,61,19,5.8,12200,1813452,764,3,4,17,9.0,11,1,both,Not one of the busiest days,Slowest days,Average orders

In [8]:
ords_prods_merge_new.drop('Unnamed: 0', axis = 1 )

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,orders_time_of_day (24 hours),days_since_prior_order,add_to_cart_order,reordered,Check,busiest days,slowest days,busiest_period_of_day
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,5,0,both,Not one of the busiest days,Not one of the slowest days,Most orders
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,1,1,both,Not one of the busiest days,Not one of the slowest days,Average orders
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,20,0,both,Busiest days,Not one of the slowest days,Average orders
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,NaN,10,0,both,Not one of the busiest days,Slowest days,Most orders
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,11,1,both,Not one of the busiest days,Slowest days,Average orders
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32434207,49688,Fresh Foaming Cleanser,73,11,13.5,1788356,200215,2,0,9,5.0,27,0,both,Busiest days,Not one of the slowest days,Most orders
32434208,49688,Fresh Foaming Cleanser,73,11,13.5,3401313,200377,1,4,11,NaN,5,0,both,Not one of the busiest days,Slowest days,Most orders
32434209,49688,Fresh Foaming Cleanser,73,11,13.5,809510,200873,5,3,8,15.0,12,0,both,Not one of the busiest days,Slowest days,Average orders
32434210,49688,Fresh Foaming Cleanser,73,11,13.5,2359893,200873,9,3,15,5.0,11,1,both,Not one of the busiest days,Slowest days,Most orders
32434211,49688,Fresh Foaming Cleanser,73,11,13.5,2385091,205926,11,1,15,6.0,35,0,both,Busiest days,Not one of the slowest days,Most orders

In [9]:
df.groupby('product_name')

In [10]:
df.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.562844
2                17.518895
3                16.907152
4                17.537934
5                14.894521
6                16.658449
7                17.072954
8                14.942021
9                15.447580
10               18.681852
11               15.352278
12               14.327957
13               16.578690
14               16.666369
15               16.153766
16               17.768070
17               15.602964
18               19.674252
19               16.924344
20               16.292631
21               25.535596

In [11]:
df.groupby('department_id')['order_number'].mean()

department_id
1     15.562844
2     17.518895
3     16.907152
4     17.537934
5     14.894521
6     16.658449
7     17.072954
8     14.942021
9     15.447580
10    18.681852
11    15.352278
12    14.327957
13    16.578690
14    16.666369
15    16.153766
16    17.768070
17    15.602964
18    19.674252
19    16.924344
20    16.292631
21    25.535596
Name: order_number, dtype: float64

In [12]:
df.groupby('department_id').order_number.mean()

department_id
1     15.562844
2     17.518895
3     16.907152
4     17.537934
5     14.894521
6     16.658449
7     17.072954
8     14.942021
9     15.447580
10    18.681852
11    15.352278
12    14.327957
13    16.578690
14    16.666369
15    16.153766
16    17.768070
17    15.602964
18    19.674252
19    16.924344
20    16.292631
21    25.535596
Name: order_number, dtype: float64

In [13]:
df.groupby('department_id').agg({'order_number': ['mean', 'min', 'max']})

              order_number
                      mean min max
department_id
1                15.562844   1  99
2                17.518895   1  96
3                16.907152   1  99
4                17.537934   1  99
5                14.894521   1  99
6                16.658449   1  99
7                17.072954   1  99
8                14.942021   1  98
9                15.447580   1  99
10               18.681852   1  99
11               15.352278   1  99
12               14.327957   1  99
13               16.578690   1  99
14               16.666369   1  99
15               16.153766   1  99
16               17.768070   1  99
17               15.602964   1  99
18               19.674252   1  99
19               16.924344   1  99
20               16.292631   1  99
21               25.535596   1  98

In [14]:
ords_prods_merge_new['max_order'] = ords_prods_merge_new.groupby(['user_id'])['order_number'].transform(np.max)

C:\Users\stefa\AppData\Local\Temp\ipykernel_11344\3036065107.py:1: FutureWarning: The provided callable <function max at 0x000001BA8EF6DB20> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  ords_prods_merge_new['max_order'] = ords_prods_merge_new.groupby(['user_id'])['order_number'].transform(np.max)

In [15]:
ords_prods_merge_new.head(15)

,product_id,product_name,aisle_id,department_id,prices,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,orders_time_of_day (24 hours),days_since_prior_order,add_to_cart_order,reordered,Check,busiest days,slowest days,busiest_period_of_day,max_order
0,1,Chocolate Sandwich Cookies,61,19,5.8,1987,3139998,138,28,6,11,3.0,5,0,both,Not one of the busiest days,Not one of the slowest days,Most orders,32
1,1,Chocolate Sandwich Cookies,61,19,5.8,1989,1977647,138,30,6,17,20.0,1,1,both,Not one of the busiest days,Not one of the slowest days,Average orders,32
2,1,Chocolate Sandwich Cookies,61,19,5.8,11433,389851,709,2,0,21,6.0,20,0,both,Busiest days,Not one of the slowest days,Average orders,5
3,1,Chocolate Sandwich Cookies,61,19,5.8,12198,652770,764,1,3,13,NaN,10,0,both,Not one of the busiest days,Slowest days,Most orders,3
4,1,Chocolate Sandwich Cookies,61,19,5.8,12200,1813452,764,3,4,17,9.0,11,1,both,Not one of the busiest days,Slowest days,Average orders,3
5,1,Chocolate Sandwich Cookies,61,19,5.8,12372,1701441,777,16,1,7,26.0,7,0,both,Busiest days,Not one of the slowest days,Average orders,26
6,1,Chocolate Sandwich Cookies,61,19,5.8,13096,1871483,825,3,2,14,30.0,2,0,both,Not one of the busiest days,Not one of the slowest days,Most orders,9
7,1,Chocolate Sandwich Cookies,61,19,5.8,14603,1290456,910,12,3,10,30.0,1,0,both,Not one of the busiest days,Slowest days,Most orders,12
8,1,Chocolate Sandwich Cookies,61,19,5.8,17065,369558,1052,10,1,20,19.0,1,0,both,Busiest days,Not one of the slowest days,Average orders,20
9,1,Chocolate Sandwich Cookies,61,19,5.8,17070,589712,1052,15,1,12,15.0,2,1,both,Busiest days,Not one of the slowest days,Most orders,20
10,1,Chocolate Sandwich Cookies,61,19,5.8,22082,1798115,1379,1,5,11,NaN,1,0,both,Not one of the busiest days,Not one of the slowest days,Most orders,10
11,1,Chocolate Sandwich Cookies,61,19,5.8,23713,497193,1480,36,3,13,7.0,1,0,both,Not one of the busiest days,Slowest days,Most orders,43
12,1,Chocolate Sandwich Cookies,61,19,5.8,23715,1727826,1480,38,4,13,7.0,3,1,both,Not one of the busiest days,Slowest days,Most orders,43
13,1,Chocolate Sandwich Cookies,61,19,5.8,23716,2694698,1480,39,2,12,12.0,4,1,both,Not one of the busiest days,Not one of the slowest days,Most orders,43
14,1,Chocolate Sandwich Cookies,61,19,5.8,23937,3171753,1494,6,3,10,2.0,8,0,both,Not one of the busiest days,Slowest days,Most orders,13

In [16]:
ords_prods_merge_new.loc[ords_prods_merge_new['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [17]:
ords_prods_merge_new.loc[(ords_prods_merge_new['max_order'] <= 40) & (ords_prods_merge_new['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [18]:
ords_prods_merge_new.loc[ords_prods_merge_new['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [19]:
ords_prods_merge_new['loyalty_flag'].value_counts(dropna = False)

loyalty_flag
Regular customer    15891077
Loyal customer      10293737
New customer         6249398
Name: count, dtype: int64

In [20]:
ords_prods_merge_new[['user_id', 'loyalty_flag', 'order_number']].head(60)

    user_id      loyalty_flag  order_number
0       138  Regular customer            28
1       138  Regular customer            30
2       709      New customer             2
3       764      New customer             1
4       764      New customer             3
5       777  Regular customer            16
6       825      New customer             3
7       910  Regular customer            12
8      1052  Regular customer            10
9      1052  Regular customer            15
10     1379      New customer             1
11     1480    Loyal customer            36
12     1480    Loyal customer            38
13     1480    Loyal customer            39
14     1494  Regular customer             6
15     1494  Regular customer             7
16     1494  Regular customer             9
17     1540  Regular customer             4
18     1540  Regular customer             5
19     1540  Regular customer             6
20     1540  Regular customer             7
21     1540  Regular customer             8
22     1540  Regular customer             9
23     1540  Regular customer            14
24     1540  Regular customer            15
25     1540  Regular customer            18
26     1540  Regular customer            19
27     1540  Regular customer            20
28     1540  Regular customer            21
29     1540  Regular customer            22
30     1540  Regular customer            24
31     1540  Regular customer            25
32     1540  Regular customer            27
33     1540  Regular customer            28
34     1598      New customer             1
35     1598      New customer             2
36     1598      New customer             3
37     1647      New customer             1
38     1647      New customer             4
39     1647      New customer             6
40     1647      New customer             8
41     1647      New customer             9
42     2833      New customer             1
43     2850  Regular customer             7
44     2857  Regular customer            24
45     3010  Regular customer             5
46     3029      New customer             1
47     3395      New customer             4
48     3904      New customer             1
49     4006    Loyal customer             2
50     4006    Loyal customer             3
51     4006    Loyal customer             5
52     4006    Loyal customer             9
53     4006    Loyal customer            12
54     4122  Regular customer            11
55     4141      New customer             2
56     4343      New customer             1
57     4553      New customer             3
58     4845  Regular customer             6
59     6866      New customer             1